.App {
  text-align: center;
  flex-direction: column;
  display: flex;
}
.Start {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.title {
  margin-top: 1.5em;
  font-size: 40px;
}
.card {
  width: 300px;
  margin-top: 28px;
  padding: 1rem 1rem 0 1rem;
}
.scene {
  flex: 3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 16px;
}
.story-text {
  padding: 1em 2em 1em;
  text-align: left;
  overflow-y: scroll;
  height: 120px;
}
.choices {
  width: auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 2em 1em;
  height: 200px;
}
.choices ul {
  padding: 0;
}
.choices li {
  padding: 0.5em 1em;
  margin: 0.5em 0;
  background: rgb(96, 210, 245);
  cursor: pointer;
  list-style-type: none;
  border-radius: 12px;
}
.choices li:hover {
  background: rgb(74, 187, 221);
  transition: background 0.2s ease;
}
.ending {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background-image: url(https://raw.githubusercontent.com/MaddyLeadbetter/goose-adventure/master/src/images/SunsetEnding.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.credits {
  position: absolute;
  bottom: 4px;
  font-size: 14px;
  text-align: center;
  color: #987462;
  
}

select {
  padding: 4px;
  border-radius: 4px;
}

select:focus,
select:hover {
  border-color: #007bff;
  transition: border-color 0.2s ease;
}

.form-group .btn {
  padding: 4px 36px;
  font-size: 20px;
  line-height: 28px;
}

.form-group input:disabled {
  opacity: 0.25
}

input[type=text] {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=text]:focus,
input[type=text]:hover {
  border-color: #007bff;
  transition: border-color 0.2s ease;
  outline: none;
}
